extends layout.pug

block content
    main
        section(class='py-5 text-center container' style='background-image: url(./public/header.png)')
            div(class='col-lg-6 col-md-8 mx-auto')
                h1(class='fw-light') Bio-Cup
                p(class='lead text-muted') Premier constraction building contest

