extends layout.pug

block content
    header(class='py-5 bg-image-full', style='background-image: url("./public/header.png")')
    section(class="py-5")
        div(class='container my-5')
            div(class='col-lg-6')
                h2 Bio-Cup is back.
                p(class='lead') The most premier BIONICLE building contest returns for its nth installment.
                p(class='mb-0') Will you be the next Bio-Cup winner? Enter and see how you stack up to other builders and win some raffle prizes too!
