html {
    font-size: 14px;
    font-family: "Comic Sans";
    background-color: lightgrey;
    background-image: url("public/bgangel.jpg");
}
body {
    padding-top: 100px;
}

main {
    background-image: url("public/img/dogpattern.png");
    background-size: 100px;
    width:80%;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid;
    border-radius: 0.5rem;
}
.navbar {
    z-index:1;
    background-color: #223138;
    background-image: url("public/img/download.gif");
    position: fixed;
    margin-left: 0;
    top: 0;
    height: 75px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    float: left;
    
}
.navbar ul li h1 {
    display: block;
    color: rgb(0, 0, 0);
    padding: 0 25px 20px;
}
.navbar ul li img {
    padding: 18px 15px 20px;

}
section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

item {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    border-radius: 1rem;
    display: inline-block;
    position:relative;
    
}
item img {
    max-width: 100%;
    border-radius: 1rem;
}
item .instagram {
    position: absolute;
    bottom: 25px;
    right: 25px;
    margin: 10px;
    opacity: 50%;
    padding: 5px;
    margin-left: 10px;
    transition: opacity .5s;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 60, 255);
    border: none;
    border-radius: 5px;
}
item .flickr {
    position: absolute;
    bottom: 25px;
    right: 100px;
    margin: 10px;
    opacity: 50%;
    padding: 5px;
    margin-left: 10px;
    transition: opacity .5s;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 60, 255);
    border: none;
    border-radius: 5px;
}
.contentgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
/* .contentgrid p {
    text-align: justify;
    font-weight: bold;
    padding-left: 10px;
}

.contentgrid img {
    display: block;
    margin: 0 auto;
    width: 100%;
} */
.textbookitem {
    background-color: white;
    margin: 5px;
}
.seemore {
    margin: 10px;
    opacity: 100;
    padding: 5px;
    margin-left: 10px;
    transition: opacity .5s;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 60, 255);
    border: none;
    border-radius: 5px;
}
.item:focus, .item:hover .flickr, .instagram {
    opacity: 100%;
}
.item:focus, .item:hover {
    box-shadow: 0 4px 8px 0 rgba(19, 19, 19, 0.2), 0 6px 20px 0 rgba(43, 42, 42, 0.19);
}

@media only screen and (max-width: 770px) {
    .contentgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}
