html {
    font-size: 14px;
    font-family: "Comic Sans";
    background-color: lightgrey;
    background-image: url("public/bgangel.jpg");
}
body {
    padding-top: 50px;
}
.navbar {
    background-color: #223138;
    position: fixed;
    margin-left: 0;
    top: 0;
    height: 56px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    float: left;
    
}
.navbar ul li h1 {
    display: block;
    background-color: #223138;
    color: white;
    padding: 0 25px 20px;
}
.navbar ul li img {
    padding: 18px 15px 20px;

}
.contentgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
.contentgrid p {
    text-align: justify;
    font-weight: bold;
    padding-left: 10px;
}

.contentgrid img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.textbookitem {
    background-color: white;
    margin: 5px;
}
.seemore {
    opacity: 0;
    padding: 5px;
    margin-left: 10px;
    transition: opacity .5s;
    color: white;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
.textbookitem:focus, .textbookitem:hover .seemore {
    opacity: 100%;
}
.textbookitem:focus, .textbookitem:hover {
    box-shadow: 0 4px 8px 0 rgba(19, 19, 19, 0.2), 0 6px 20px 0 rgba(43, 42, 42, 0.19);
}

@media only screen and (max-width: 770px) {
    .contentgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}
