:root {
    --font: 'Sans Serif';
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #eee8d5;
    /* off-white */
    font-family: var(--font);
    font-size: 1.05rem;
}

@font-face {
    font-family: 'Iosevka';
    src: url('../public/fonts/Iosevka Nerd Font Complete.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

p {
    padding-top: 5px;
    padding-bottom: 20px;
    max-width: 76vw;
    text-align: left;
}

#content {
    position: fixed;
    inset: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
}

/* canvas sits above background, below text */
#ripple-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    inset: 0;
}

/* subtle Neocities vibe */
a {
    color: #eee8d5;
    text-decoration: underline;
}

a:hover {
    opacity: 0.7;
}

canvas {
    z-index: 0;
}
